h1,
h2
 {
    color: #406885;
}

.container {
    justify-content: center;
}

.footer {
    overflow: auto;
    background-color: #406885;
    color: #fafafa;
}

p {
    font-size: large;
    text-align: justify;
}

a {
    color: white;
    font-size: large;
}

span.linkedin {
    color: white;
    font-size: medium;
}

textarea {
    resize: none;
}

.form_display {
    width: 50%;
}

.service {
    color: #406885;
}

.service_title {
    font-size: x-large;
}

.service_card {
    min-height: 35%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 35vh; /* These two lines are counted as one :-)       */    
}

@media screen and (max-width: 768px ) {
    .cellphone {
        display: none
    }
    .form_display {
        width: 100%;
    }
}

@media (min-width: 1200px) { 
    .desktop_services {
        margin-right: 35px;
    }
}